<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_Zoo_Manager.Properties.Settings.CSharpTutorialsDBConnectionString"
            connectionString="Data Source=ABSTRACTEDGE-LE;Initial Catalog=CSharpTutorialsDB;Persist Security Info=True;User ID=sa;Password=Diogo-4231!"
            providerName="System.Data.SqlClient" />
        <add name="WPF_Zoo_Manager.Properties.Settings.CSharpTutorialDBConnectionString"
            connectionString="Data Source=ABSTRACTEDGE-LE;Initial Catalog=CSharpTutorialDB;Persist Security Info=True;User ID=sa;Password=Diogo-4231!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>